<h2>Lista de Subscriptores <button ng-click="sendWelcomeEmails()">Enviar correos de bienvenida</button></h2>

<input type="text" ng-model="search" placeholder="Buscar..." ng-change="searchSubscribers()" />
<button ng-click="searchSubscribers()">Buscar</button>
<button ng-click="resetSearch()">Limpiar</button>

<ul>
  <li ng-repeat="sub in subscribers">
    {{ sub.name }} - {{ sub.email }}
  </li>
</ul>

<div>
  <button ng-click="changePage(currentPage-1)" ng-disabled="currentPage <= 1">Anterior</button>
  Página {{ currentPage }} de {{ lastPage }}
  <button ng-click="changePage(currentPage+1)" ng-disabled="currentPage >= lastPage">Siguiente</button>
</div>