<h2 class="titulo">Lista de Subscriptores</h2>
<button ng-click="enviarMensajesMasivosBienvenida()" class="boton_correos">Enviar correos de bienvenida</button>

<div class="cuerpo">
  <div class="filtros">
    <input type="text" ng-model="buscador" placeholder="Buscar..." ng-change="buscarSuscriptor()" />
    <button ng-click="buscarSuscriptor()" class="boton_buscar">Buscar</button>
    <button ng-click="resetBuscador()" class="boton_limpiar">Limpiar</button>
  </div>

  <table class="tabla">
    <thead>
      <tr>
        <th>N°</th>
        <th>Nombre</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="sub in suscriptores track by $index">
        <td>{{$index + 1}}</td>
        <td>{{ sub.nombre }}</td>
        <td>{{ sub.correo }}</td>
      </tr>
    </tbody>
  </table>

  <div class="paginacion">
    <button ng-click="changePage(currentPage-1)" ng-disabled="currentPage <= 1">Anterior</button>
    Página {{ currentPage }} de {{ lastPage }}
    <button ng-click="changePage(currentPage+1)" ng-disabled="currentPage >= lastPage">Siguiente</button>
  </div>
</div>